{% extends "base.html" %}

{% block content %}

<table class="table table-striped">
    <thead><tr>
        <th>Регион</th>
        <th>Код</th>
        <th>Полигон обрезки</th>

        {% if export_url %}
        <th style="width: 0;">&nbsp;</th>
        <th style="width: 0;">&nbsp;</th>
        {% endif %}
    </thead>

    <tbody>

    {% for region_group in region_groups %}
        {% for region in region_group.regions %}
            {% if loop.first %}
            <tr>
                <th colspan="5">
                    {{ region_group.name|default("Группа по-умолчанию", true) }}
                </th>
            </tr>
            {% endif %}
        <tr>
            <td>
                <a href="{{ url_for('region', code=region.code) }}">
                    {{ region.name }}
                </a>
            </td>
            
            <td>{{ region.code }}</td>

            <td>{% include "region-status-label.html" %}</td>

            {% if export_url %}
            <td><a href="{{export_url}}/latest/{{region.code}}.7z">Скачать</a></td>
            <td><a href="{{export_url}}/{{region.code}}/">Архив</a></td>
            {% endif %}

        </tr>
        {% endfor %}

    {% endfor %}


    </tbody>
</table>

{% endblock %}