{% extends "base.html" %}

{% block content %}

<table class="table table-striped">
    <thead><tr>
        <th>Код</th>
        <th>Регион</th>
        <th>Полигон обрезки</th>

        {% if export_url %}
        <th style="width: 0;">&nbsp;</th>
        <th style="width: 0;">&nbsp;</th>
        {% endif %}
    </thead>

    <tbody>

    {% for region in regions %}
    <tr>
        <td>{{ region.code }}</td>
        <td>{{ region.name }}</td>
        <td>
            {% if version.ts == region.geom_tstamp %}
                <span class="label label-success">Актуален</span></td>
            {% else %}
                <span class="label label-warning">Неактуален</span></td>
            {% endif %}

        {% if export_url %}
        <td><a href="{{export_link}}/latest/{{region.code}}.7z">Загрузить</a></td>
        <td><a href="{{export_link}}/{{region.code}}/">Архив</a></td>
        {% endif %}

    </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock %}